<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>ManaSTL Raffle Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico/') }}">

    <!-- Icons font CSS-->
    <link href="/src/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}">
    <link href="/src/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}">

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/src/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
    <link href="/src/static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/datepicker/daterangepicker.css') }}">

    <!-- Main CSS-->
    <link href="/src/static/styles/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" media="all">

    <!-- Toastr Alerts -->
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>

<body>
    {{ toastr.include_toastr_js() }}
    <div class="page-wrapper p-t-100 p-b-100 font-poppins" style="background-image:url({{'static/images/manastl-background.png'}});">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">ManaSTL Raffle Generator</h2>
                    <form method="POST">
                        <div class="row row-space">
                            
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="text" name="input-name" placeholder="Mark Mehochko">
                                        <i class="zmdi zmdi-github input-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Total Number of Spots</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="text" name="num-spots" placeholder="1">
                                        <i class="zmdi zmdi-code input-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                            
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Specifically Called Spots {}</label>
                                            <div class="input-group-icon">
                                                <input class="input--style-4" type="text" name="called-spots" placeholder="1">
                                                <i class="zmdi zmdi-github input-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                            <div class="row row-space">


                                    <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">Range of Called Spots []</label>
                                                <div class="input-group-icon">
                                                    <input class="input--style-4" type="text" name="range-called-spots" placeholder="1">
                                                    <i class="zmdi zmdi-github input-icon"></i>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                        
                        <!-- only appears after form submission -->
                        {% for item in raw_values %}
                        <div>
                            {{item}}
                        </div>
                        {% endfor %}
                        

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/src/static/vendor/jquery/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Vendor JS-->
    <script src="/src/static/vendor/select2/select2.min.js"></script>
    <script src="{{ url_for('static',filename='vendor/select2/select2.min.js') }}"></script>
    <script src="/src/static/vendor/datepicker/moment.min.js"></script>
    <script src="{{ url_for('static',filename='vendor/datepicker/moment.min.js') }}"></script>
    <script src="/src/static/vendor/datepicker/daterangepicker.js"></script>
    <script src="{{ url_for('static',filename='vendor/datepicker/daterangepicker.js') }}"></script>

    <!-- Main JS-->
    <script src="/src/static/scripts/global.js"></script>
    <script src="{{ url_for('static',filename='scripts/global.js') }}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
